:root{
  --c1: #6b6d76;
  --c2:#a69888;
  --c3:#cbfb7c;
  --c4:#334e58;
  --c:#533261;
  
}
body{
  background-color:var(--c2);
  color:var(--c4);
  width: 100vw;
  height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 0;

}
header{
  background-color: var(--c1);
}
main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}

#header2{
  display: flex;
  align-items: center;
  padding-left: 20px;
}
a{
  margin: 16px;
}
.flexcol{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.flexrow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  column-gap: 50px;
}
#randombtn{
  width: 100px;
  align-self: center;
  background-color: #334e58;
  border-radius: 10px;
}
.players{
  justify-items: center;
  border:2px solid #334e58;
  border-radius: 10px;
  width: 150px;
  margin: 20px;
}
#colordiv{
  width: 200px;
  height: 200px;
  justify-items: center;
  align-content: center;
  border: #334e58 solid 2px;
  border-radius: 10px;
  margin-top: 20px;
}

